/ {
    chosen {
        zephyr,display = &a6n;  // Switch to A6N projector for testing
        nordic-nus-uart = &uart0;
        /* USB CDC ACM for console/shell */
        zephyr,console = &cdc_acm_uart0;
        zephyr,shell-uart = &cdc_acm_uart0;
    };

    aliases {
        myals = &i2c3;  // My Ambient Light Sensor I2C bus
    };

    zephyr_user: zephyr,user {
        es_power_en-gpios = <&gpio1 0 GPIO_ACTIVE_HIGH>;
        mic_pwr_en-gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
    };
};

&pinctrl {
    spi4_default: spi4_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 8)>,
                    <NRF_PSEL(SPIM_MISO, 0, 10)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 9)>;
            nordic,drive-mode = <NRF_DRIVE_E0E1>;
        };
    };
    spi4_sleep: spi4_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 8)>,
                    <NRF_PSEL(SPIM_MISO, 0, 10)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 9)>;
            low-power-enable;
        };
    };
    
    pwm1_default: pwm1_default {
        group1 {
            psels = <NRF_PSEL(PWM_OUT0, 0, 13)>;  /* P0.13 */
        };
    };
    pwm1_sleep: pwm1_sleep {
        group1 {
            psels = <NRF_PSEL(PWM_OUT0, 0, 13)>;
            low-power-enable;
        };
    };
    
    pdm0_default: pdm0_default {
        group1 {
            psels = <NRF_PSEL(PDM_CLK, 1, 12)>,
                    <NRF_PSEL(PDM_DIN, 1, 11)>;
        };
    };
    
    i2c2_default: i2c2_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 1, 14)>,
                    <NRF_PSEL(TWIM_SCL, 1, 15)>;
        };
    };
    i2c2_sleep: i2c2_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 1, 14)>,
                    <NRF_PSEL(TWIM_SCL, 1, 15)>;
            low-power-enable;
        };
    };

    i2c3_default: i2c3_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 1, 3)>, /* P1.03 SDA */
                    <NRF_PSEL(TWIM_SCL, 1, 2)>;   /* P1.02 SCL */
            bias-pull-up;
            nordic,drive-mode = <NRF_DRIVE_S0D1>;
        };
    };
    i2c3_sleep: i2c3_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 1, 3)>,
                    <NRF_PSEL(TWIM_SCL, 1, 2)>;
            low-power-enable;
        };
    };
};

/* Disable SPI3 (8MHz limited) */
&spi3 {
    status = "disabled";
};

/* Enable SPI4 with 32MHz capability for A6N */
&spi4 {
    compatible = "nordic,nrf-spim";
    status = "okay";
    pinctrl-0 = <&spi4_default>;
    pinctrl-1 = <&spi4_sleep>;
    pinctrl-names = "default", "sleep";
    
    a6n: a6n@0 {
        compatible = "zephyr,custom-a6n";
        reg = <0>;
        status = "okay";  // Enable A6N for projector testing
        spi-max-frequency = <32000000>;
        left_cs-gpios = <&gpio0 12 GPIO_ACTIVE_HIGH>; // cs0
        right_cs-gpios = <&gpio0 11 GPIO_ACTIVE_HIGH>;// cs1
        /* Power enables and reset */
        v0_9-gpios     = <&gpio0 5 GPIO_ACTIVE_HIGH>;  /* P0.05 */
        v1_8-gpios     = <&gpio0 6 GPIO_ACTIVE_HIGH>;  /* P0.06 */
        vcom-gpios     = <&gpio0 7 GPIO_ACTIVE_HIGH>;  /* P0.07 */
        reset-gpios    = <&gpio1 1 GPIO_ACTIVE_HIGH>;  /* P1.01 */

        width = <640>;
        height = <480>;
    };
};

/* Enable PWM1 for protobuf handler */
&pwm1 {
    status = "okay";
    pinctrl-0 = <&pwm1_default>;
    pinctrl-1 = <&pwm1_sleep>;
    pinctrl-names = "default", "sleep";
};

/* Enable PDM for microphone audio streaming */
&pdm0 {
    status = "okay";
    pinctrl-0 = <&pdm0_default>;
    pinctrl-names = "default";
    clock-source = "PCLK32M_HFXO";
    queue-size = <4>;
};

/* Enable I2C2 for SSD1306 display */
&i2c2 {
    compatible = "nordic,nrf-twim";
    status = "okay";
    pinctrl-0 = <&i2c2_default>;
    pinctrl-1 = <&i2c2_sleep>;
    pinctrl-names = "default", "sleep";
    clock-frequency = <I2C_BITRATE_FAST_PLUS>;
    zephyr,concat-buf-size = <4096>;
    
    ssd1306: ssd1306@3c {
        compatible = "solomon,ssd1306fb";  
        reg = <0x3c>;    
        width = <128>;
        height = <64>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <63>;
        com-invdir;
        prechargep = <0x22>;
        segment-remap;
        status = "disabled";  // Disable SSD1306 for A6N testing
    };
};
&i2c1 {
    status = "disabled";
};

/* Enable I2C3 for OPT3006 light sensor */
&i2c3 {
    compatible = "nordic,nrf-twim";
    status = "okay";
    pinctrl-0 = <&i2c3_default>;
    pinctrl-1 = <&i2c3_sleep>;
    pinctrl-names = "default", "sleep";
};


&gpio_fwd {
	status = "disabled";
	/delete-node/ uart;
};

zephyr_udc0: &usbd {
    compatible = "nordic,nrf-usbd";
    status = "okay";

    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
    };
};