/ {
    chosen {
        zephyr,display = &hls12vga;  // Switch to HLS12VGA projector for testing
        zephyr,console = &cdc_acm_uart0;     // USB CDC ACM for console/logging output
        zephyr,shell-uart = &cdc_acm_uart0;  // Shell on USB CDC ACM
        nordic-nus-uart = &uart0;            // BLE NUS on UART0
    };
    zephyr,user{
        gx8002_power-gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;  /* P0.04 controls GX8002 power */
        gx8002_vad_int-gpios = <&gpio0 12 GPIO_ACTIVE_HIGH>;  /* P0.12 VAD interrupt (falling edge) */
        vad_init_logic-gpios = <&gpio0 27 GPIO_ACTIVE_HIGH>;  /* P0.27 Logic IO: HIGH during VAD initialization */
        i2s_active_logic-gpios = <&gpio0 26 GPIO_ACTIVE_HIGH>;  /* P0.26 Logic IO: HIGH during I2S active */
        vad_voice_detect-gpios = <&gpio0 25 GPIO_ACTIVE_HIGH>;  /* P0.25 Voice detection: LOW=voice present, HIGH=no voice */
    };
};

&pinctrl {
    spi4_default: spi4_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 8)>,
                    <NRF_PSEL(SPIM_MISO, 0, 10)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 9)>;
            nordic,drive-mode = <NRF_DRIVE_E0E1>;
        };
    };
    spi4_sleep: spi4_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 8)>,
                    <NRF_PSEL(SPIM_MISO, 0, 10)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 9)>;
            low-power-enable;
        };
    };
    
    pwm1_default: pwm1_default {
        group1 {
            psels = <NRF_PSEL(PWM_OUT0, 0, 13)>;  /* P0.13 */
        };
    };
    pwm1_sleep: pwm1_sleep {
        group1 {
            psels = <NRF_PSEL(PWM_OUT0, 0, 13)>;
            low-power-enable;
        };
    };
    
    pdm0_default: pdm0_default {
        group1 {
            psels = <NRF_PSEL(PDM_CLK, 1, 12)>,
                    <NRF_PSEL(PDM_DIN, 1, 11)>;
        };
    };
    
    i2c2_default: i2c2_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 1, 14)>,
                    <NRF_PSEL(TWIM_SCL, 1, 15)>;
        };
    };
    i2c2_sleep: i2c2_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 1, 14)>,
                    <NRF_PSEL(TWIM_SCL, 1, 15)>;
            low-power-enable;
        };
    };
    i2c1_default: i2c1_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 1, 2)>,
                    <NRF_PSEL(TWIM_SCL, 1, 3)>;
        };
    };
    i2c1_sleep: i2c1_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 1, 2)>,
                    <NRF_PSEL(TWIM_SCL, 1, 3)>;
            low-power-enable;
        };
    };
    i2s0_default: i2s0_default {
        group1 {
    
            psels = <NRF_PSEL(I2S_SDIN, 1, 9)>,    /* P1.09: Serial Data Input */
                    <NRF_PSEL(I2S_SCK_S, 1, 8)>,   /* P1.08: Bit Clock Input (Slave) */
                    <NRF_PSEL(I2S_LRCK_S, 1, 6)>;  /* P1.06: Word Select Input (Slave) */
        };
    };
    
    i2s0_sleep: i2s0_sleep {
        group1 {
            psels = <NRF_PSEL(I2S_SDIN, 1, 9)>,    /* P1.09: Serial Data Input */
                    <NRF_PSEL(I2S_SCK_S, 1, 8)>,   /* P1.08: Bit Clock Input (Slave) */
                    <NRF_PSEL(I2S_LRCK_S, 1, 6)>;  /* P1.06: Word Select Input (Slave) */
            low-power-enable;
        };
    };
};

/* Disable SPI3 (8MHz limited) */
&spi3 {
    status = "disabled";
};

/* Enable SPI4 with 32MHz capability for HLS12VGA */
&spi4 {
    compatible = "nordic,nrf-spim";
    status = "okay";
    pinctrl-0 = <&spi4_default>;
    pinctrl-1 = <&spi4_sleep>;
    pinctrl-names = "default", "sleep";

    hls12vga: hls12vga@0 {
        compatible = "zephyr,custom-hls12vga";
        reg = <0>;
        status = "okay";  // Enable HLS12VGA for projector testing
        spi-max-frequency = <32000000>;

        /* CS pins moved to P1.04 and P1.05 to avoid Arduino connector conflicts */
        left_cs-gpios  = <&gpio1 4 GPIO_ACTIVE_HIGH>;  /* P1.04 - avoid conflicts */
        right_cs-gpios = <&gpio1 5 GPIO_ACTIVE_HIGH>;  /* P1.05 - avoid conflicts */

        /* Power enables and reset */
        v0_9-gpios     = <&gpio0 5 GPIO_ACTIVE_HIGH>;  /* P0.05 */
        v1_8-gpios     = <&gpio0 6 GPIO_ACTIVE_HIGH>;  /* P0.06 */
        vcom-gpios     = <&gpio0 7 GPIO_ACTIVE_HIGH>;  /* P0.07 */
        reset-gpios    = <&gpio1 1 GPIO_ACTIVE_HIGH>;  /* P1.01 */

        width = <640>;
        height = <480>;
    };
};

/* Enable PWM1 for protobuf handler */
&pwm1 {
    status = "okay";
    pinctrl-0 = <&pwm1_default>;
    pinctrl-1 = <&pwm1_sleep>;
    pinctrl-names = "default", "sleep";
};

/* Enable PDM for microphone audio streaming */
&pdm0 {
    status = "okay";
    pinctrl-0 = <&pdm0_default>;
    pinctrl-names = "default";
    clock-source = "PCLK32M_HFXO";
    queue-size = <4>;
};

/* Enable I2C2 for SSD1306 display */
&i2c2 {
    compatible = "nordic,nrf-twim";
    status = "okay";
    pinctrl-0 = <&i2c2_default>;
    pinctrl-1 = <&i2c2_sleep>;
    pinctrl-names = "default", "sleep";
    clock-frequency = <I2C_BITRATE_FAST_PLUS>;
    zephyr,concat-buf-size = <4096>;
    
    ssd1306: ssd1306@3c {
        compatible = "solomon,ssd1306fb";  
        reg = <0x3c>;    
        width = <128>;
        height = <64>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <63>;
        com-invdir;
        prechargep = <0x22>;
        segment-remap;
        status = "disabled";  // Disable SSD1306 for HLS12VGA testing
    };
};

/* I2S Slave Configuration - nRF5340 as slave, external I2S mics as master */
&i2s0 {
    compatible = "nordic,nrf-i2s";
    status = "okay";
    pinctrl-0 = <&i2s0_default>;
    pinctrl-1 = <&i2s0_sleep>;
    pinctrl-names = "default", "sleep";
};

zephyr_udc0: &usbd {
    compatible = "nordic,nrf-usbd";
    status = "okay";

    cdc_acm_uart0: cdc_acm_uart0 {
            compatible = "zephyr,cdc-acm-uart";
    };
};

&i2c1 {
    compatible = "nordic,nrf-twim";
    status = "okay";
    pinctrl-0 = <&i2c1_default>;
    pinctrl-1 = <&i2c1_sleep>;
    pinctrl-names = "default", "sleep";
};
&uart0_sleep {
    group1 {
        psels = <NRF_PSEL(UART_TX, 0, 20)>, <NRF_PSEL(UART_RX, 0, 22)>, <NRF_PSEL(UART_RTS, 0, 19)>;
    };
};
