/**
 * I2S Audio Output Device Tree Overlay
 * 
 * Configures I2S peripheral for audio output on nRF5340DK
 * 
 * Pin Mapping:
 * - P1.06: I2S_LRCK (Left/Right Clock)
 * - P1.07: I2S_BCLK (Bit Clock)  
 * - P1.08: I2S_SDIN (Serial Data Input to DAC)
 * 
 * Audio Configuration:
 * - Sample Rate: 16kHz
 * - Channels: Stereo (2)
 * - Bit Depth: 16-bit
 * - Frame Duration: 10ms
 */

&pinctrl {
	i2s0_default: i2s0_default {
		group1 {
			/* I2S Clock signals */
			psels = <NRF_PSEL(I2S_LRCK, 1, 6)>,   /* P1.06 - Left/Right Clock */
			        <NRF_PSEL(I2S_BCLK, 1, 7)>,   /* P1.07 - Bit Clock */
			        <NRF_PSEL(I2S_SDIN, 1, 8)>;   /* P1.08 - Serial Data Input */
		};
	};

	i2s0_sleep: i2s0_sleep {
		group1 {
			psels = <NRF_PSEL(I2S_LRCK, 1, 6)>,
			        <NRF_PSEL(I2S_BCLK, 1, 7)>,
			        <NRF_PSEL(I2S_SDIN, 1, 8)>;
			low-power-enable;
		};
	};
};

&i2s0 {
	status = "okay";
	pinctrl-0 = <&i2s0_default>;
	pinctrl-1 = <&i2s0_sleep>;
	pinctrl-names = "default", "sleep";
	
	/* I2S Master Configuration */
	clock-source = "HFCLK";  /* High frequency clock for precision */
	
	/* Audio format configuration */
	master;                  /* nRF5340 is I2S master */
};
