/*
 * I2S Simple Loopback Device Tree Overlay
 * Configures I2S pins for nRF5340DK
 */

&pinctrl {
    i2s0_default: i2s0_default {
        group1 {
            psels = <NRF_PSEL(I2S_SCK_M, 1, 7)>,    /* P1.07 - BCLK */
                    <NRF_PSEL(I2S_LRCK_M, 1, 6)>,   /* P1.06 - LRCK */
                    <NRF_PSEL(I2S_SDOUT, 1, 8)>;    /* P1.08 - SDOUT */
        };
        group2 {
            psels = <NRF_PSEL(I2S_SDIN, 1, 9)>;     /* P1.09 - SDIN */
            bias-pull-up;
        };
    };

    i2s0_sleep: i2s0_sleep {
        group1 {
            psels = <NRF_PSEL(I2S_SCK_M, 1, 7)>,
                    <NRF_PSEL(I2S_LRCK_M, 1, 6)>,
                    <NRF_PSEL(I2S_SDOUT, 1, 8)>,
                    <NRF_PSEL(I2S_SDIN, 1, 9)>;
            low-power-enable;
        };
    };
};

&i2s0 {
    status = "disabled";  /* Disable Zephyr I2S driver to avoid conflicts */
};

/* Enable HFCLKAUDIO for audio applications */
&clock {
    hfclkaudio-frequency = <12288000>;  /* 12.288 MHz for audio */
};
