
config CUSTOM_A6N
    bool "Enable custom A6N driver"
    default n
    depends on DT_HAS_ZEPHYR_CUSTOM_A6N_ENABLED
    select SPI 
    help
      Driver for A6N SPI-based display controller.

config CUSTOM_A6N_INIT_PRIORITY
    int "Initialization priority"
    default 60

config CUSTOM_A6N_LOG_LEVEL
    int "Logging level"
    default 3
    range 0 4